.card {
    box-shadow: 12px 12px 22px black;
}
body{
    font-family: 'Aclonica', sans-serif;

}
p{
    text-shadow: 5px 5px 6px black;
    color: rgb(173, 255, 47);
}
.btn{
    background-color: rgb(202, 95, 23);
    color: lemonchiffon;
    border-radius: 4px;
    font-weight:bold ;
    box-shadow: 5px 5px 6px black;
    border-radius: 20px;


}
.btn:hover{
    opacity: 0.5;
    border: 5px solid #cccccc;
    background-color: #ad230b;;
    color:  lemonchiffon;
    border-radius: 20px;
}